body{
	font : 18px/27px 'BebasNeueRegular', Arial, sans-serif
}

h1{
	font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;
	letter-spacing: 0;
}

h2{
	font: 30px/37px 'BebasNeueRegular', Arial, sans-serif;
	letter-spacing: 0;
}

#decks{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 200px;
	border: solid 3px #EEE;
	border-radius: 20px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#decks .deck{
	width: 565px;
	height: 200px;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear;
}

#decks .deck.buffering{
	opacity: 0.2;
	-webkit-transition: opacity 0.2s linear;
}

#decks .player{
	height: 50px;
	width: 550px;
	position: absolute;
	top: 100;
	background-size: 100% 100%;
	background-color: #ddd;
}

#decks .waveform{
	height: 100px;
	width: 450px;
	position: absolute;
	top: 0;
	background-size: 2000px 99px;
	background-position: 225px 0px;
	background-repeat: no-repeat;
	background-color: #eee;
}

#decks .waveform .bar{
	height: 100px;
	background-color: rgba(255, 0, 0, 0.5);
	width: 2px;
	margin-left: 223px;
}

#decks .waveform .ruler{
	height: 1px;
	background-color: rgba(0, 0, 255, 0.2);
	width: 100%;
	margin-top: -50px;
}

#decks .player .playhead{
	height: 100%;
	width: 0px;
	background-color: rgba(163, 163, 163, 0.5);
}


#decks .cover{
	width: 100px;
	height: 100px;
	position: absolute;
}

#decks #deck-a {
	float: left;
}

#decks #deck-a .cover{
	left: 20px;
}

#decks #deck-a .player{
	left: 20px;	
}


#decks #deck-a .waveform{
	left: 120px;
}

#decks #deck-b .cover{
	left: 0px;
}

#decks #deck-b .player{
	right: 15px;
}

#decks #deck-b .waveform{
	right: 15px;
}

#decks #deck-b{
	float: right;
}

#decks .controls{
	height: 50px;
	width: 250px;
	bottom: 0px;
	position: absolute;
}

#decks #deck-a .controls{
	left: 15px;
}

#decks #deck-b .controls{
	right: 15px;
}

#decks .tempo{
	width: 10px;
	height: 150px;
	-webkit-appearance: slider-vertical;
	position: absolute;
}

#decks .tempo:first-child{
	left: 0px;
}

#decks .tempo:last-child{
	right: 0px;
}

#decks .filters{
	position: absolute;
	left: 140px;
	bottom: 10px;
}

#decks .filters .filter{
	height: 25px;
	width: 48px;
	display: inline-block;
	padding: 1px;
}

#decks .filters .filter.active{
	background-color: #5EA2CF;
}

#decks .filters .effect{
	width: 100px;
	position: absolute;
	left: 165;
	top: 6;
}

#crossfader{
	position: absolute;
	bottom: 20px;
	left: 515px;
	width: 200px;
}

#playlist-container{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	border: solid 3px #EEE;
	padding: 20px;
	border-radius: 20px;
}

#playlist-container h2{
	margin: 5px;
}

#playlist-container #url{
	width: 400px;	
}

#playlist-container #add{
	display: inline-block;
	margin-left: 15px;
}

#playlist{
	list-style: none;
	margin: 10px 0px;
	padding: 0px;
}

#playlist li{
	height: 50px;
	position: relative;
	padding: 5px;
	border-radius: 6px;
	-webkit-transition: background 0.3s linear;
}

#playlist li img{
	width: 50px;
	height: 50px;
}

#playlist li .title{
	line-height: 50px;
	position: absolute;
	left: 60px;
	top: 0px;
	max-width: 400px;
	text-overflow: ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

.load{
	background-color: #666;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 26px;
	border-radius: 5px;
}

#playlist li .load{
	width: 25px;
	height: 25px;
	top: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
}

.load:hover{
	cursor: pointer;
	background-color: #888;
}

#playlist li .load-a{
	position: absolute;
	right: 75px;
}

#playlist li .load-b{
	position: absolute;
	right: 40px;
}

#playlist li .delete{
	position: absolute;
	right: 5px;
}

#playlist li:hover{
	background-color: #eee;
	-webkit-transition: background 0.3s linear;
} 

#playlist li:hover .load{
	opacity: 1;
	-webkit-transition: opacity 0.3s linear;
}

#search-container{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	border: solid 3px #EEE;
	padding: 10px 20px;
	border-radius: 20px;
	margin-top: 10px;
}

#search-container p{
	text-align: center;
}

#search-container p label{
	font-size: 25px;
}

#search-container #search{
	width: 300px;
	font-size: 20px;
}

#searchlist{
	list-style: none;
	margin: 10px 0px;
	padding: 0px;
}

#searchlist li{
	height: 50px;
	position: relative;
	padding: 5px;
	border-radius: 6px;
	-webkit-transition: background 0.3s linear;
}

#searchlist li img{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
}

#searchlist li .title{
	line-height: 25px;
	position: absolute;
	left: 60px;
	top: 0px;
	max-width: 500px;
	text-overflow: ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}

#searchlist li .add-list{
	position: absolute;
	right: 40px;
	top: 17px;
}

#searchlist li:hover{
	background-color: #eee;
	-webkit-transition: background 0.3s linear;
}




