<html>
<head>
	<title>CloudDJ</title>
	<link rel="stylesheet" href="static/fonts/bebas.css">
	<link rel="stylesheet" href="static/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
</head>
<body>
<div id="decks">
	<div id="deck-a" class="deck">
		<input type="range" class="tempo" min="0" max="100" value="50"></input>
		<img class="cover">
		<div class="player"><div class="playhead"></div></div>
		<div class="waveform"><div class="bar"></div><div class="ruler"></div></div>
		<div class="filters">
			<div class="load filter" filter="1">reverb</div>
			<div class="load filter" filter="2">echo</div>
			<div class="load filter" filter="3">cosmic</div>
			<input type="range" class="effect" min="0" max="100" value="0"></input>
		</div>
	</div>
	<div id="deck-b" class="deck">
		<div class="filters">
			<div class="load filter" filter="1">reverb</div>
			<div class="load filter" filter="2">echo</div>
			<div class="load filter" filter="3">cosmic</div>
			<input type="range" class="effect" min="0" max="100" value="0"></input>
		</div>
		<img class="cover">
		<div class="player"><div class="playhead"></div></div>
		<div class="waveform"><div class="bar"></div><div class="ruler"></div></div>
		<input type="range" class="tempo" min="0" max="100" value="50"></input>
	</div>
<input type="range" id="crossfader" min="0" max="100" value="50" onchange="crossfade(this);"></input>
</div>

<div id="playlist-container">
	<h2>Playlist</h2>
	<ul id="playlist"></ul>
	<input type="text" id="url" name="url" value="" placeholder="Paste a Soundcloud Url"><button id="add">add URL</button>
</div>
<div id="search-container">
	<p><label>Search  </label><input type="text" id="search" name="search" value="" placeholder="search Soundcloud"></p>
	<ul id="searchlist"></ul>
</div
<!-- Templates -->
<script type="text/x-jquery-tmpl" id="listItemTemplate">
	<img class="playlist-thumb" src="${src}"/>
	<div class="title">${title}</div>
	<div class="load-a load">A</div>
	<div class="load-b load">B</div>
	<div class="delete load">X</div>
</script>
<script type="text/x-jquery-tmpl" id="searchItemTemplate">
	<img class="search-thumb" src="${src}"/>
	<div class="title"><p>${title}</p></div>
	<button class="add-list">add to list</button>
</script>

<!-- Application scripts-->
<script src="static/spine.js"></script>
<script src="static/local.js"></script>
<script src="{{ url_for('static', filename='core.js') }}"></script>
</body>
</html>